@model Vidly.ViewModels.CustomerViewModel
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

<table>
    <tr>
        <th>Customer</th>
    </tr>

    @foreach (var customer in Model.Customers)
    {
        <tr>
            <td>@customer.Name</td>
        </tr>
    }
</table>

